$fonth: 'Comfortaa', cursive;
$fontl: 'Gochi Hand', cursive;
$fontp: 'Quicksand', sans-serif;

body {
    background-color: #283d1d;
    margin: 15px;
    padding: 0;
    form {
       display: flex; 
       flex-direction: row;
       .inputf{
           display: flex;
           flex: 1;
           .namel {
            width: -webkit-fill-available;
           }
       }
    }
    .col-8 {
        background-color: white;
   
    }
    .outer {
        background-color: #bed9b2;
    }
    .navbar {
        background-color: #779469;
        color: white;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
        h1 {
            font-family: $fontl;
        }
    }
}