 $fontb: 'Coustard', serif;
$fonth: 'Gochi Hand', cursive;
$fonts: 'Montserrat', sans-serif;
#headerh {
    display: none;
}
#checkB {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
   margin-left: 500px;
   
}
.closeB {
    margin-left: 10px;
    padding: 5px 7px 5px 7px;
}
.closeB2 {
    margin-left: 10px;
    padding: 5px 7px 5px 7px;
}
.editB2 {
    font-size: 13px;
    margin-left: 460px;
}
.editB {
    font-size: 13px;
    margin-left: 180px;
}
.editB:hover, .editB2:hover {
    color: rgb(10, 61, 10);
}
.closeB:hover, .closeB2:hover {
    background-color: darkgreen;
}
#tabContent, #tabContent2 {
    margin-left: 75px;
}
#todoAdd {
    margin-bottom: 20px;
}
#todoAdd {
    width: 500px;
    padding: 8px;
    font-family: $fonts;
    margin-right: 10px;
}
#todoB {
    width: 110px;
    padding: 8px;
    background-color: #638751;
    color: white;
    font-family: $fonts;
}
.nav {
    background-color: #779469;
    color: white;  
    h1 {
        padding: 16px 0px 10px 35px;
        font-family: $fonth;
        font-size: 50px;
        
    }
    h1:hover {
        color: #34472a;
        cursor: pointer;
        transition: .3s;
    }
}
.listoflist li {
    background-color: #f1ffeb;
       width: 320px;
}
#tabContent2 li {
    background-color: #f1ffeb;
    width: 618px; 
}
.lists {
    padding: 20px 0px 10px 15px;
    background-color: #bed9b2;
    .input {
        display: flex;
        flex-grow: inherit;
        font-family: $fonts;
        #lName {
            padding: 5px;
        }
    }
}

#lol li, #tabContent2 li {
    color: #34472a;
    font-size: 18px;
    padding: 10px 10px 10px 15px;
    font-family: $fonts;
}
#lol li:hover, #tabContent2 li:hover {
    color: white;
    cursor: pointer;
    background-color: #679650;
    transition: .4s;
}
ul, li {
   list-style-type: none;
   padding: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    .links {
        display: flex;
        flex-direction: row;
        padding: 10px 40px 10px 0px;
        li {
            padding: 15px;
            font-size: 20px;
                i:hover {
                    color: #34472a;
                    transition: .3s;
                    cursor: pointer;
            }
        }
    }
}
#lol li:nth-child(odd), #tabContent2 li:nth-child(odd) {
    background: #daf7cd;
  }
  #lol li:nth-child(odd):hover, #tabContent2 li:nth-child(odd):hover {
      background-color: #679650;
      transition: .4s;
  }
#button {
    width: 80px;
    height: 38px;
    color: white;
    background-color: #638751;
    font-family: $fonts;
}
.button {
    padding-left: 5px;
}
.contain {
    display: flex;

}
#currentWindow {
    margin-left: 350px;
    padding-top: 40px;
    position: absolute;
}
h2 {
    font-family: $fontb;
    font-size: 30px;
    color: #638751;
}


